Marcas/Primer trimestre/XML_XSD/Ejercicio3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="heladeria">
        <xs:complexType>
            <xs:sequence>

                <xs:element name = "helado" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:choice>
                                <xs:element name = "chocolate" type = "tipoGramo"/>
                                <xs:element name = "fresa" type = "tipoGramo"/>
                            </xs:choice>
                            <xs:choice>
                                <xs:element name = "vainilla" type = "tipoGramo"/>
                                <xs:element name = "turron" type = "tipoGramo"/>
                                <xs:element name = "nata" type = "tipoGramo"/>
                            </xs:choice>
                        </xs:sequence>
                        <xs:attribute name = "fabricación" type = "xs:date"/>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="tipoGramo">
        <xs:restriction base = "xs:integer">
            <xs:maxInclusive value="1000"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>