Marcas/Primer trimestre/XSD/Practica/Ejercicio5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    
    <xs:element name = "breakfast_menu">
        <xs:complexType>
            <xs:sequence>
                <xs:element name = "food" maxOccurs = "unbounded" type = "tipo_food"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name = "tipo_food">
        <xs:sequence>
            <xs:element name = "name" type = "xs:string"/>
            <xs:element name = "price" type = "xs:string"/>
            <xs:element name = "description" type = "xs:string"/>
            <xs:element name = "calories" type = "xs:positiveInteger"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>