Marcas/Primer trimestre/XSD/Ejercicios/Ejercicio3.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name = "persona_nacimiento">
        <xs:complexType>
            <xs:sequence>

                <xs:element name = "datos">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name = "nombre" type="xs:string"/>
                            <xs:element name = "apellidos" type="xs:string"/>
                            <xs:element name = "dni" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name = "comentario" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>